/**
 * User: Alexander
 * Date: 06.11.11
 * Time: 19:03
 */
body{
    background-color:#333333;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
}
#canvas{
    position: absolute;
}
