/**
 * 
 * User: Alexander
 * Date: 15.02.14 15:01
 */
.notepad_en #name:after {
    content: 'Untitled ― Notepad';
}

.notepad_en #mainMenuLabelHelp:after {
    content: 'Help';
}

.notepad_en #mainMenuLabelEdit:after {
    content: 'Edit';
}

.notepad_en #mainMenuLabelFormat:after {
    content: 'Format';
}

.notepad_en #mainMenuLabelView:after {
    content: 'View';
}

.notepad_en #mainMenuLabelFile:after {
    content: 'File';
}

.notepad_en #fileMenuLabelExit:after {
    content: 'Exit';
}

.notepad_en #openFile:after {
    content: 'Open...';
}
