/**
 * 
 * User: Alexander
 * Date: 15.02.14 14:54
 */
.notepad_ru #name:after {
    content: 'Безымянный ― Блокнот';
}

.notepad_ru #mainMenuLabelHelp:after {
    content: 'Справка';
}

.notepad_ru #mainMenuLabelEdit:after {
    content: 'Правка';
}

.notepad_ru #mainMenuLabelFormat:after {
    content: 'Формат';
}

.notepad_ru #mainMenuLabelView:after {
    content: 'Вид';
}

.notepad_ru #mainMenuLabelFile:after {
    content: 'Файл';
}

.notepad_ru #fileMenuLabelExit:after {
    content: 'Выход';
}

.notepad_ru #openFile:after {
    content: 'Открыть...';
}
